@charset "utf-8";
.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}
h4 { 
	font-size:40px;
	color: yellow;
	text-align: center;
	height: 0px;}
body {
	margin: 0;
}
.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
h1 {
	font-size: 30px
}
h2{
	font-size: 30 px
}
.navbar a:hover {
	background: #ddd;
	color: black;
}
.main {
	font-size: 40px;
	padding: 16px;
	margin-top: 30px;
	height: 1500px;
}


aside {
	text-align: center;
}

body {background-color: grey;}

p {
	color: black;
	font-size: 20px
}

h5 {
	font-size: 30px
}

	
.SoccerBall {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.Heading {
	font-size: 16px;
}
img {
    width: 100px;
    height: 100px;
    background: grey;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    transition: width 2s, height 2s, transform 2s;
}

img:hover {
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
@media screen and (min-width:500px) and (max-width:700px){
}
h3{
    width: 100px;
    height: 100px;
    background: grey;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s; 
    transition: width 1s, height 1s, transform 1s;
}

h3:hover {
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
h4 {
    width: 100px;
    height: 100px;
    background: grey;
    -webkit-transition-property: width;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 1s;
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

h4:hover {
    width: 300px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
	}}
.col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
