@charset "utf-8";
.navbar {
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
}
body {
	margin: 0;
}
.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
h1 {
	font-size: 30px
}
.navbar a:hover {
	background: #ddd;
	color: black;
}
.main {
	padding: 16px;
	margin-top: 30px;
	height: 1500px;
}
h4 {
	color: yellow;
	border: 4px  #030303 solid;
	padding: 0.5em;
	text-align: center;
}
aside {
	text-align: center;
}
